@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	#gradient-canvas {
		width: 100%;
		height: 100%;
		--gradient-color-1: #c3e4ff;
		--gradient-color-2: #6ec3f4;
		--gradient-color-3: #eae2ff;
		--gradient-color-4: #b9beff;
	}
}
